<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.TroyEmpire.NightFury.UI.Activity"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_PROFILE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_launcher_image"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar" >
        <activity
            android:name=".LoadingActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/activity_main"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".TestActivity"
            android:label="Test"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".WaiMaiXTActivity"
            android:label="@string/waimaixt_label"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".WaiMaiXTRestaurantActivity"
            android:label="@string/waimaixt_label"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".XinXiPTActivity"
            android:label="@string/xinxipt_label"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="XinXiPTDisplayNewsActivity"
            android:label="@string/xinxipt_label"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".InternalAccessLibraryWebViewActivity"
            android:label="@string/library_label"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent" >
        </activity>

        <service
            android:name="com.TroyEmpire.NightFury.AndroidService.ChangePhoneModeService"
            android:enabled="true" >
        </service>

        <receiver android:name="com.TroyEmpire.NightFury.UI.BroadCastReceiver.ChangeToOriginalStateCloclReceiver" >
        </receiver>
        <receiver android:name="com.TroyEmpire.NightFury.UI.BroadCastReceiver.RefreshScheduleClockReceiver" >
        </receiver>
        <receiver android:name="com.TroyEmpire.NightFury.UI.BroadCastReceiver.ChangeToViberateClockReceiver" >
        </receiver>

        <activity
            android:name=".ICourseActivity"
            android:label="@string/icourse_label"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ICourseTableActivity"
            android:label="@string/icourse_course_label"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ICourseDisplayGradeActivity"
            android:label="@string/icourse_grade_label"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ICourseExamTableActivity"
            android:label="@string/icourse_exam_label"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ICourseScheduleActivity"
            android:label="@string/icourse_schedule"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".IntroductionActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".XiaoYuanDTActivity"
            android:label="@string/xiaoyuandt_label"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".XiaoYuanDTDisplayPathActivity"
            android:label="@string/xiaoyuandt_label"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".XiaoYuanDTPathActivity"
            android:label="@string/xiaoyuandt_label"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".XiaoYuanDTSearchActivity"
            android:label="@string/xiaoyuandt_label"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".PrefsActivity"
            android:label="@string/settings_title"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".AboutUsActivity"
            android:label="@string/about_us_label"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity 
            android:name="com.TroyEmpire.NightFury.UI.Activity.ICourseScheduleDisplayActivity"
            android:label="@string/icourse_schedule"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        
        <activity 
            android:name=".XiaoYuanHYActivity"
            android:label="@string/xiaoyuanhy_label"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>